#ignore build and devel
build/
devel/
*.catkin_workspace
*.rosinstall

#ignore bag files
*.bag

*.vscode
*bin/
*build/
*lib/
*msg_gen/
*srv_gen/
*hector_mapping/src/hector_mapping/
*hector_nav_msgs/src/hector_nav_msgs/