<!-- -*- mode: XML -*- -->
<launch>
    <arg name="racecar_version" default="$(optenv RACECAR_VERSION racecar-v2)"
         doc="system version [racecar-v1, racecar-v2]"/>
    <arg name="imu_model" default="$(optenv RACECAR_IMU razor_imu_m0)"
         doc="imu sensor types [razor_imu, razor_imu_m0]"/>
    <arg name="run_camera" default="true"/>

    <include file="$(find racecar)/launch/includes/$(arg racecar_version)-teleop.launch.xml">
        <!-- These two params are no longer relevant to the car but I did not want to break anything-->
        <arg name="imu_model" value="$(arg imu_model)"/>
        <arg name="run_camera" value="$(arg run_camera)"/>
    </include>

    <node pkg="braking_system" name="drive_node" type="drive_node.py" output="screen"/>
    <node pkg="braking_system" name="braking_node" type="braking_node.py" output="screen"/>

    <include file="$(find zed_wrapper)/launch/zed_camera.launch"/>

    <node pkg="rosbag" type="record" name="rosbag_record"
          args="record -o $(find braking_system)/data/braking_car /rgb/image_raw_color /scaled_distance
          /scaled_velocity /acceleration /scan /current_velocity /scan /obstacle_distance /rosout"
          output="screen"/>

</launch>
