<?xml version="1.0"?>
<launch>
    <!--   <include file="$(find racecar_gazebo)/launch/racecar_tunnel.launch"/> -->
    <include file="$(find racecar_gazebo)/launch/racecar.launch">
        <arg name="world_name" value="track_braking1"/>
    </include>

    <!--    <node pkg="race" name="sim_connector_node" type="sim_connector.py"/>-->
    <!--    <node pkg="race" name="keyboard_node" type="keyboard.py" output="screen"/>-->

    <node pkg="braking_system" name="drive_node" type="drive_node.py" output="screen"/>
    <node pkg="braking_system" name="braking_node" type="braking_node.py" output="screen"/>

    <node pkg="rosbag" type="record" name="rosbag_record"
          args="record -o $(find braking_system)/data/braking_sim /camera/zed/rgb/image_rect_color /scaled_distance
          /scaled_velocity /acceleration /scan /current_velocity /scan /obstacle_distance /rosout"
          output="screen"/>


    <!--        <node pkg="rosbag" type="record" name="rosbag_record_diag"-->
    <!--          args="record -a -O data.bag -x "/usb_cam/(.*)|/usb_cam_repub/theora/(.*)""/>-->


    <!--    <node name="message_to_tf" pkg="wall_following" type="message_to_tf.py"/>-->
    <!--    <include file="$(find particle_filter)/launch/localize.launch"/>-->


</launch>
